<div class="container">
  <h1 class="pricing" id="big_h1">Consiga uma colocação no mercado!</h1>
  <h1 class="sub">Mais de 3.000 empresas e 50.000 profissionais</h1>
  
  <div id="plans">
  <div class="package_holder">
    <div class="package">Grátis</div> 
    <div class="price">R$0<span>/Mês</span></div>
    <div class="who">Plano Trial</div>
    <div class="what">
      <ul>
        <li>Cadastrar Perfil</li>
        <li>Pesquisar Oportunidades</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="package_holder">
    <div class="package">Básico</div> 
    <div class="price">R$12<span>/Mês</span></div>
    <div class="who">Plano para inciantes</div>
    <div class="what">
      <ul>
        <li>Pesquisar Oportunidades</li>
        <li>Candidatar-se a Oportunidades</li>
        <li>5 mensagens</li>
      </ul>
    </div>
    <div class="clear"></div>
  
  </div>
  
  <div class="package_holder">
    <div class="package">Plus</div> 
    <div class="price">R$20<span>/Mês</span></div>
    <div class="who">Plano mais popular</div>
    <div class="what">
      <ul>
        <li>Candidatar-se a Oportunidades</li>
        <li>Exportação (PDF)</li>
        <li>15 mensagens</li>
      </ul>
  
    </div>  
    <div class="clear"></div>
  </div>
  
  <div class="package_holder">
    <div class="package">Pro</div> 
    <div class="price">R$60<span>/Ano</span></div>
    <div class="who">Plano para profissionais</div>
    <div class="what">
      <ul>
        <li>Candidatar-se a Oportunidades</li>
        <li>Exportação (PDF)</li>
        <li>Destaque nas pesquisas</li>
        <li>Calendário</li>
        <li>Mensagens ilimitadas</li>
      </ul>
  
    </div>
      <div class="clear"></div>
  </div>
  
      <div class="clear"></div>
  </div>
  </div>
</div>