				  <h1><%= image_tag "statistic.png" %> Estatísticas</h1>
				  <div class="people">
					<div class="contact" id="firm_employee_3809931">
					  <li><span style="vertical-align:bottom"><%= image_tag "tick.png" %></span> 3000 Pessoas</li>
					  <li><span style="vertical-align:bottom"><%= image_tag "tick.png" %></span> 2389 Empresas</li>
					  <li><span style="vertical-align:bottom"><%= image_tag "tick.png" %></span> 4500 Oportunidades</li>
					</div>
				  </div>