<body>
<div id="Wrapper" style="POSITION: relative">
	 <div id="swap_from">
		  <div id="screen_body" class="container">
			   <table class="layout">
				  <tr>
					 <td class="left">
						<div class="Left">
						   <div class="col">
							  <div class="page_header">
								<span class="other_indexes">
									<%= link_to 'Voltar', :controller => 'profile', :action => 'index' %>
								</span>

								<h1>
									Inbox
								</h1>
							  </div>

							  <div class="innercol">
								<div id="basic_form">
								  <div class="block">
									<dl>
									  <dt class="required">De:</dt>
									  <dd></dd>
									</dl>
									<dl>
									  <dt class="required">Data:</dt>
									  <dd></dd>
									</dl>
									<dl>
									  <dt class="required">Para:</dt>
									  <dd></dd>
									</dl>
								  </div>

						</div></div></div>
					 </td>
					 <td class="right"></td>
				  </tr>
			   </table>
		  </div>
	 </div>
</div>
</body>